<ion-header>
  <ion-toolbar color="light">
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ requestFormName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-horizontal-stepper
    labelPosition="bottom"
    [linear]="true"
    #stepper
    *ngIf="entireFormRequestData"
  >
    <mat-step label="Information" *ngIf="entireFormRequestData.header">
      <div *ngIf="entireFormRequestData.formResponse">
        <div
          *ngFor="
            let field of entireFormRequestData.formResponse.fields;
            index as i
          "
        >
          <div [ngSwitch]="field.type">
            <div *ngSwitchCase="'textarea'">
              <ion-item>
                <ion-label color="dark" position="floating">{{ field.label }}</ion-label>
                <ion-textarea
                  name="{{ field.name }}"
                  [value]="entireFormRequestData.header[field.name]"
                  [disabled]="true"
                ></ion-textarea>
              </ion-item>
            </div>
            <div *ngSwitchDefault>
              <ion-item>
                <ion-label color="dark" position="floating">{{ field.label }}</ion-label>
                <ion-input
                  name="{{ field.name }}"
                  type="text"
                  [value]="entireFormRequestData.header[field.name]"
                  [disabled]="true"
                ></ion-input>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Line-Items" *ngIf="entireFormRequestData.lineItems">
      <div
        *ngFor="
          let lineItemField of entireFormRequestData.lineItems;
          index as i
        "
      >
        <ion-list>
          <ion-list-header color="primary">
            Line Item No.{{ lineItemField.sno }}
          </ion-list-header>
          <ion-item *ngFor="let listItemField of lineItemField.lineItemFields">
            <ion-label position="floating">
              {{ listItemField.label }}
            </ion-label>
            <ion-input
              name="{{ listItemField.name + i }}"
              type="text"
              [value]="lineItemField.lineItems[listItemField.name]"
              [disabled]="true"
            ></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <br>
      <button mat-raised-button color="primary" matStepperPrevious>Previous</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Logs" *ngIf="entireFormRequestData.logs">
      <section id="cd-timeline" class="cd-container">
        <div *ngFor="let log of entireFormRequestData.logs.slice().reverse()">
          <div class="cd-timeline-block">
            <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <div class="cd-timeline-picture text-center balanced">
              <ion-icon name="person" style="zoom:2.0" color="dark"></ion-icon>
            </div>
            <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <div class="cd-timeline-content balanced" style="padding: 5%">
              <h5 class="marginBottom0 marginTop0">
                {{ log.actualUser | titlecase }}
                {{ log.activityText | titlecase }}
              </h5>
              <p class="marginTop5 cd-author">Date: {{ log.endDate }}</p>
              <p class="timelineText">{{ log.comments }}</p>
            </div>
          </div>
        </div>
      </section>
      <br>
      <button mat-raised-button color="primary" matStepperPrevious>Previous</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Attachments" *ngIf="entireFormRequestData.attachments">
      <ion-card color="light">
        <ion-card-header>
          Attachments
        </ion-card-header>
        <ion-card-content>
          <ion-item
            lines="full"
            *ngFor="let file of entireFormRequestData.attachments"
          >
            <ion-icon slot="start" name="document"></ion-icon>
            <ion-label slot="start">{{ file.fileName }}</ion-label>
            <ion-icon
              slot="end"
              name="download"
              (click)="onFileDownload(file)"
            ></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <br>
      <button mat-raised-button color="primary" matStepperPrevious>Previous</button>
    </mat-step>
  </mat-horizontal-stepper>
</ion-content>
