.centered {
    text-align: center;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    background-color: rgb(0, 136, 255);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 136, 255);
    border-radius: 10px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

button {
    margin: 0px 5px;
}