<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card
        *ngFor="let request of userRequests; let i; of: index"
        color="{{ request.background }}"
        [routerLink]="['./', request.formId]"
        (click)="getRequestDetails(request)"
      >
        <img src="" />
        <ion-card-header>
          <ion-card-title>{{ request.docType }}</ion-card-title>
          <ion-card-subtitle>{{ request.description }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-item *ngIf="userRequests.length == 0">
        <h5>You've No Requests To Initiate.</h5>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
