<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="9" size-md="9" size-lg="9">
        <div style="text-align: center">
            <img src="./../../assets/logo-small.png" alt="Logo" />
        </div>
        <form style="text-align: center">
          <p>Welcome back!</p>
          <!-- <ion-item color="light">
            <ion-label position="floating">Enter Account ID</ion-label>
            <ion-input
              type="text"
              ngModel
              #accountId="ngModel"
              name="accountId"
              [(ngModel)]="credentials.accountId"
              autocomplete="off"
              required
            ></ion-input>
          </ion-item> -->
          <ion-item color="light">
            <ion-label position="floating">Enter Username</ion-label>
            <ion-input
              type="text"
              ngModel
              #username="ngModel"
              name="username"
              [(ngModel)]="credentials.username"
              autocomplete="off"
              required
            ></ion-input>
          </ion-item>
          <ion-item color="light">
            <ion-label position="floating">Enter Password</ion-label>
            <ion-input
              [type]="passwordType"
              ngModel
              #password="ngModel"
              name="password"
              [(ngModel)]="credentials.password"
              autocomplete="off"
              required
            ></ion-input>
            <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
          <ion-button color="primary" expand="block" (click)="login()" [disabled]="!(credentials.username && credentials.password)"
            >Login</ion-button>
          <p style="color: dodgerblue"><u>Forgot Password?</u></p>
          <!-- <ion-chip color="danger" *ngIf="accountId.touched && !accountId.valid">
            <ion-label color="danger">Account ID cannot be empty</ion-label>
          </ion-chip> -->
          <ion-chip color="danger" *ngIf="username.touched && !username.valid">
            <ion-label color="danger">Username cannot be empty</ion-label>
          </ion-chip>
          <ion-chip color="danger" *ngIf="password.touched && !password.valid">
            <ion-label color="danger">Password cannot be empty</ion-label>
          </ion-chip>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
