<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="requests">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="outbox">
        <ion-icon name="mail-open"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
