<ion-header>
  <ion-toolbar color="light">
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ requestName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="6" offset-lg="3">
        <mat-accordion>
          <mat-expansion-panel
            *ngFor="let request of requestsDetail; index as i"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ request.docId }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list [routerLink]="['./', request.docId]">
              <ion-item *ngIf="request.docId">
                <ion-label>Doc ID: {{ request.docId }}</ion-label>
              </ion-item>
              <div *ngIf="request.headerValues">
                <ion-item *ngIf="request.headerValues.Field2">
                  <ion-label
                    >{{ request.headerValues.Field2.label }}:
                    {{ request.headerValues.Field2.value }}</ion-label
                  >
                </ion-item>
                <ion-item *ngIf="request.headerValues.Field3">
                  <ion-label
                    >{{ request.headerValues.Field3.label }}:
                    {{ request.headerValues.Field3.value }}</ion-label
                  >
                </ion-item>
                <ion-item *ngIf="request.headerValues.Field4">
                  <ion-label
                    >{{ request.headerValues.Field4.label }}:
                    {{ request.headerValues.Field4.value }}</ion-label
                  >
                </ion-item>
                <ion-item *ngIf="request.headerValues.Field5">
                  <ion-label
                    >{{ request.headerValues.Field5.label }}:
                    {{ request.headerValues.Field5.value }}</ion-label
                  >
                </ion-item>
              </div>
            </ion-list>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col></ion-row
    ></ion-grid
  >
</ion-content>
