<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Request Initiation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-horizontal-stepper
    labelPosition="bottom"
    [linear]="true"
    #stepper
    [hidden]="!formData"
  >
    <mat-step label="Header" *ngIf="formData.fields">
      <form #headerForm="ngForm">
        <div *ngFor="let formField of formData.fields">
          <div [ngSwitch]="formField.type">
            <div *ngSwitchCase="'text'">
              <ion-item>
                <ion-label position="floating">{{ formField.label }}</ion-label>
                <ion-input
                  name="{{ formField.name }}"
                  type="{{ formField.type }}"
                  id="{{ formField.fieldName }}"
                  [required]="formField.requiredField"
                  [(ngModel)]="header[formField.name]"
                ></ion-input>
              </ion-item>
            </div>
            <div *ngSwitchCase="'number'">
              <ion-item>
                <ion-label position="floating">{{ formField.label }}</ion-label>
                <ion-input
                  name="{{ formField.name }}"
                  type="{{ formField.type }}"
                  id="{{ formField.fieldName }}"
                  [required]="formField.requiredField"
                  [(ngModel)]="header[formField.name]"
                ></ion-input>
              </ion-item>
            </div>
            <div *ngSwitchCase="'date'">
              <ion-item>
                <ion-label position="floating">{{ formField.label }}</ion-label>
                <ion-datetime
                  name="{{ formField.name }}"
                  id="{{ formField.fieldName }}"
                  display-format="MMM DD YYYY"
                  [(ngModel)]="header[formField.name]"
                ></ion-datetime>
              </ion-item>
            </div>
            <div *ngSwitchCase="'list'">
              <ion-item>
                <ion-label position="floating">{{ formField.label }}</ion-label>
                <ion-icon
                  slot="end"
                  name="search"
                  (click)="onSelectSearchField(formField, 'header')"
                  style="cursor: pointer"
                ></ion-icon>
                <ion-input
                  name="{{ formField.name }}"
                  id="{{ formField.fieldName }}"
                  [disabled]="true"
                  [(ngModel)]="header[formField.name]"
                ></ion-input>
              </ion-item>
            </div>
          </div>
        </div>
      </form>
      <br />
      <button mat-raised-button color="primary" matStepperNext [disabled]="headerForm.invalid">Next</button>
    </mat-step>
    <mat-step label="Line-Items" *ngIf="formData.lineItemFields">
      <form id="lineItemForm">
        <ion-button color="primary" (click)="addLineItem()"
          >Add Line Item</ion-button>
        <div *ngIf="lineItems.length">
          <div *ngFor="let item of lineItems; index as i">
              <br>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <ion-text color="primary">Line Item No.{{ i + 1 }}</ion-text>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let lineItem of item" [hidden]="!item.show">
                    <div [ngSwitch]="lineItem.type">
                      <div *ngSwitchCase="'text'">
                        <ion-item>
                          <ion-label position="floating">{{
                            lineItem.label
                          }}</ion-label>
                          <ion-input
                            name="{{ lineItem.name + i }}"
                            type="{{ lineItem.type }}"
                            id="{{ lineItem.fieldName }}"
                            [required]="lineItem.requiredField"
                            [(ngModel)]="lineItem.value"
                          ></ion-input>
                        </ion-item>
                      </div>
                      <div *ngSwitchCase="'number'">
                        <ion-item>
                          <ion-label position="floating">{{
                            lineItem.label
                          }}</ion-label>
                          <ion-input
                            name="{{ lineItem.name + i }}"
                            type="{{ lineItem.type }}"
                            id="{{ lineItem.fieldName }}"
                            [required]="lineItem.requiredField"
                            [(ngModel)]="lineItem.value"
                          ></ion-input>
                        </ion-item>
                      </div>
                      <div *ngSwitchCase="'date'">
                        <ion-item>
                          <ion-label position="floating">{{
                            lineItem.label
                          }}</ion-label>
                          <ion-datetime
                            name="{{ lineItem.name + i }}"
                            id="{{ lineItem.fieldName }}"
                            display-format="MMM DD YYYY"
                            [(ngModel)]="lineItem.value"
                          ></ion-datetime>
                        </ion-item>
                      </div>
                      <div *ngSwitchCase="'list'">
                        <ion-item>
                          <ion-label position="floating">{{
                            lineItem.label
                          }}</ion-label>
                          <ion-icon
                            slot="end"
                            name="search"
                            (click)="
                              onSelectSearchField(lineItem, {
                                sender: 'lineItem',
                                lineItemIndex: i
                              })
                            "
                            style="cursor: pointer"
                          ></ion-icon>
                          <ion-input
                            name="{{ lineItem.name + i }}"
                            id="{{ lineItem.fieldName }}"
                            [disabled]="true"
                            [(ngModel)]="lineItem.value"
                          ></ion-input>
                        </ion-item>
                      </div>
                    </div>
                  </div>
                  <ion-icon
              name="trash"
              (click)="removeLineItem(i)"
              color="danger"
              style="zoom: 2.0"
            ></ion-icon>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </form>
      <br />
      <button mat-raised-button color="primary" matStepperPrevious>
        Previous
      </button>
      <button
        mat-raised-button
        color="primary"
        class="nextButton"
        matStepperNext
      >
        Next
      </button>
    </mat-step>
    <mat-step label="Attachments">
      <div class="centered">
        <label class="custom-file-upload">
          <input
            type="file"
            (change)="onSelectFile($event)"
            multiple="multiple"
          />
          <ion-icon name="cloud-upload"></ion-icon> Attach Files
        </label>
        <br /><br />
        <label
          class="custom-file-upload"
          (click)="onPickImage()"
          *ngIf="isMobilePlatform"
        >
          <ion-icon name="camera"></ion-icon> Take A Photo
        </label>
        <ion-list>
          <ion-item *ngFor="let file of uploadedFiles" [ngSwitch]="file.type">
            <ion-icon
              *ngSwitchCase="'image/png'"
              name="image"
              color="primary"
            ></ion-icon>
            <ion-icon
              *ngSwitchCase="'text/plain'"
              name="text"
              color="primary"
            ></ion-icon>
            <ion-icon
              *ngSwitchCase="'text/html'"
              name="logo-html5"
              color="primary"
            ></ion-icon>
            <ion-icon
              *ngSwitchDefault
              name="link"
              color="primary"
            ></ion-icon>
            <ion-label>{{ file.name }} - {{ file.size }}bytes</ion-label>
          </ion-item>
          <ion-item *ngFor="let image of selectedImages; index as i">
            <ion-thumbnail slot="start">
              <ion-img [src]="image"></ion-img>
            </ion-thumbnail>
            <ion-label>IMG00{{ i + 1 }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <br />
      <button mat-raised-button color="primary" matStepperPrevious>
        Previous
      </button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Comments">
      <div class="centered">
        <ion-item>
          <ion-label position="floating">Comments</ion-label>
          <ion-textarea [(ngModel)]="requestDescription"></ion-textarea>
        </ion-item>
      </div>
      <br />
      <button mat-raised-button color="primary" matStepperPrevious>
        Previous
      </button>
      <button mat-raised-button color="accent" (click)="submitRequest()">
        Submit
      </button>
    </mat-step>
  </mat-horizontal-stepper>
</ion-content>
