<ion-header>
  <ion-toolbar color="light">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div id="BG1">
      <div class="profilePic"></div>
      <br>
      <h3 style="color: white"><b>{{loggedUserDetails.firstName}} {{loggedUserDetails.lastName}}</b></h3>
      <h4 style="color: white">{{loggedUserDetails.email}}</h4>
  </div>
  <div id="BG2">
    <ion-list style="margin-top:20%" class="ion-no-padding">
      <ion-item lines="none" color="light">
        <ion-icon slot="start" color="tertiary" name="person"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-icon slot="start" color="warning" name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
      <ion-item lines="none" color="light" (click)="onLogout()">
        <ion-icon slot="start" color="danger" name="log-out"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!-- <div id="overlay"></div> -->
</ion-content>
