#BG1 {
  height: 40%;
  background-color: #00aeff;
  text-align: center;
}
#BG2 {
  background-color: #f4f5f8;
  height: 60%;
}

.profilePic {
  height: 40%;
  width: 30%;
  border: 5px solid white ;
  background-color: #f4f5f8;
  border-radius: 50%;
  margin: 0 auto;
}
