<ion-header>
    <ion-toolbar color="light">
      <ion-title>Outbox</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngFor="let request of requestsOutboxData; index as i" color="{{request.color}}" [routerLink]="['./', request.requestType]">
      <ion-card-header>
        <ion-card-subtitle>{{request.description}}</ion-card-subtitle>
        <ion-card-title>{{request.requestType}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-text class="ion-text-end">
              <h3>Pending Items <h1><b>{{request.total}}</b></h1></h3>
            </ion-text>
      </ion-card-content>
    </ion-card>
    <ion-item *ngIf="requestsOutboxData.length == 0">
      <h5>You've No Requests In Inbox.</h5>
    </ion-item>
  </ion-content>